@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    min-height: 100vh;
}

.active,
.dot:hover {
    background-color: #717171;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}
