@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    min-height: 100vh;
}

.active,
.dot:hover {
    background-color: white;
    width: 0.85rem;
    height: 0.85rem;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

.fade-animation {
    animation: fadeIn 200ms ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
